# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# -------------------------
# Virtual Environment
# -------------------------
test/
venv/
env/

# -------------------------
# Django
# -------------------------
db.sqlite3
*.log
local_settings.py

# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# Static & Media
# -------------------------
staticfiles/
media/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db
